@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400|Roboto:400");
* {
  box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.animate-enter {
  animation: animate-enter-frames 0.4s ease-in-out 0s 1 normal forwards;
  display: block;
}
.login {
  align-items: center;
  background-color: teal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding: 108px 0;
  width: 100vw;
}
.login .enter-password {
  background-color: transparent;
  border: 0;
  flex-shrink: 0;
  height: 27px;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 7px;
  padding: 0;
  resize: none;
  text-align: left;
  width: 262px;
  outline: none;
}
.login .enter-password::placeholder {
  color: rgba(0, 128, 128, 0.6);
}
.login .enter-username {
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  flex-shrink: 0;
  height: 27px;
  letter-spacing: 0px;
  line-height: normal;
  margin-left: 7px;
  padding: 0;
  resize: none;
  text-align: left;
  width: 262px;
  outline: none;
}
.login .enter-username::placeholder {
  color: rgba(0, 128, 128, 0.6);
}
.login .key {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 24px;
  justify-content: flex-start;
  padding: 0.5px 1px;
  width: 24px;
}
.login .net-2 {
  background-color: transparent;
  display: block;
  flex-shrink: 0;
  height: 181px;
  pointer-events: auto;
  transition: all 0.2s ease-in-out;
  width: 135px;
}
.login .net-2:hover {
  transform: translate(0, -5px);
}
.login .overlap-group {
  align-items: flex-start;
  background-color: var(--soft-peach);
  border-radius: 100px;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 335px;
  padding: 11px 21px;
  width: auto;
}
.login .overlap-group1 {
  align-items: center;
  background-color: var(--soft-peach);
  border-radius: 100px;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 50px;
  justify-content: flex-start;
  margin-top: 75px;
  min-width: 335px;
  padding: 9px 21px;
  width: auto;
}
.login .overlap-group2 {
  background-color: transparent;
  flex-shrink: 0;
  height: 46px;
  margin-left: 1px;
  margin-top: 37px;
  position: relative;
  width: 250px;
}
.login .rectangle-26 {
  background-color: var(--tradewind);
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 250px;
}
.login .sign-in {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: 69px;
}
.login .user {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 24px;
  justify-content: flex-start;
  padding: 2px 0;
  width: 24px;
}
.login .vector {
  background-color: transparent;
  flex-shrink: 0;
  height: 10px;
  width: 10px;
}
.login .vector-1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 8px;
  margin-top: 2px;
  width: 18px;
}
.login .vector-2 {
  background-color: transparent;
  flex-shrink: 0;
  height: 22px;
  width: 22px;
}
.poppins-normal-teal-18px {
  color: teal;
  font-family: "Poppins", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.roboto-normal-white-20px {
  color: white;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.dashboard {
    align-items: center;
    background-color: var(--cararra);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
  }
  .dashboard .align-left {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: flex-start;
    left: 25px;
    padding: 5px 0;
    position: absolute;
    top: 14px;
    width: 24px;
  }
  .dashboard .archive {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 45px;
    position: absolute;
    top: 64px;
    width: 24px;
  }
  .dashboard .auto-flex {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 108px;
    justify-content: flex-start;
    margin-right: 8px;
    margin-top: 19px;
    min-width: 251px;
    width: auto;
  }
  .dashboard .auto-flex1 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 107px;
    justify-content: flex-start;
    margin-right: 8px;
    margin-top: 16px;
    min-width: 251px;
    width: auto;
  }
  .dashboard .auto-flex2 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 10px;
    justify-content: flex-start;
    margin-left: 4px;
    min-width: 17px;
    width: auto;
  }
  .dashboard .auto-flex3 {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 8px;
    justify-content: flex-start;
    margin-top: 1px;
    min-width: 24px;
    width: auto;
  }
  .dashboard .auto-flex4 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: auto;
    justify-content: flex-start;
    margin-left: 7px;
    margin-top: 1px;
    min-height: 70px;
    width: 236px;
  }
  .dashboard .balance-1200 {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: normal;
    margin-right: 6px;
    margin-top: 9px;
    min-height: 26px;
    min-width: 143px;
    text-align: left;
    width: auto;
  }
  .dashboard .clipboard {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 45px;
    padding: 0 3px;
    position: absolute;
    top: 65px;
    width: 24px;
  }
  .dashboard .credit-card {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 45px;
    position: absolute;
    top: 67px;
    width: 24px;
  }
  .dashboard .ellipse- {
    background-color: transparent;
    height: 48px;
    left: 33px;
    position: absolute;
    top: 59px;
    width: 48px;
  }
  .dashboard .ellipse-5 {
    background-color: transparent;
    height: 55px;
    left: 62px;
    position: absolute;
    top: 225px;
    width: 55px;
  }
  .dashboard .ellipse-6 {
    background-color: transparent;
    height: 55px;
    left: 161px;
    position: absolute;
    top: 225px;
    width: 55px;
  }
  .dashboard .ellipse-7 {
    background-color: transparent;
    height: 55px;
    left: 259px;
    position: absolute;
    top: 225px;
    width: 55px;
  }
  .dashboard .fixed-users {
    background-color: transparent;
    height: auto;
    left: 161px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 283px;
    width: auto;
  }
  .dashboard .group-2 {
    background-color: transparent;
    flex-shrink: 0;
    height: 32px;
    margin-bottom: -8px;
    width: 30px;
  }
  .dashboard .group-23 {
    background-color: transparent;
    height: 24px;
    left: 271px;
    pointer-events: auto;
    position: absolute;
    top: 12px;
    transition: all 0.2s ease;
    width: 24px;
  }
  .dashboard .group-23:hover {
    transform: scale(0.9);
  }
  .dashboard .group-24 {
    align-items: flex-end;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: center;
    left: 325px;
    min-width: 22px;
    position: absolute;
    top: 12px;
    width: auto;
  }
  .dashboard .group-6 {
    background-color: transparent;
    height: 32px;
    left: -4px;
    position: absolute;
    top: 0px;
    width: 32px;
  }
  .dashboard .group-7 {
    background-color: transparent;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
  }
  .dashboard .hotspot {
    background-color: transparent;
    height: auto;
    left: 77px;
    letter-spacing: 0px;
    line-height: normal;
    pointer-events: auto;
    position: absolute;
    text-align: left;
    top: 87px;
    transition: all 0.2s ease;
    width: 60px;
  }
  .dashboard .hotspot:hover {
    transform: scale(1.1);
  }
  .dashboard .invoice {
    background-color: transparent;
    height: auto;
    left: 22px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 28px;
    width: auto;
  }
  .dashboard .mdiwifitethering {
    align-items: flex-end;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 51px;
    padding: 2.2px 2px;
    position: absolute;
    top: 82px;
    width: 24px;
  }
  .dashboard .outage-notice {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: normal;
    min-height: 17px;
    text-align: left;
    width: 142px;
  }
  .dashboard .overlap-group {
    background-color: transparent;
    flex-shrink: 0;
    height: 312px;
    position: relative;
    width: 375px;
  }
  .dashboard .overlap-group1 {
    background-color: transparent;
    flex-shrink: 0;
    height: 107px;
    position: relative;
    width: 115px;
  }
  .dashboard .overlap-group2 {
    align-items: flex-start;
    background-color: var(--tradewind);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 105px;
    justify-content: flex-start;
    margin-left: 1px;
    margin-top: 4px;
    min-width: 322px;
    padding: 8px 9px;
    width: auto;
  }
  .dashboard .overlap-group3 {
    align-self: flex-end;
    background-color: transparent;
    flex-shrink: 0;
    height: 107px;
    position: relative;
    width: 115px;
  }
  .dashboard .overlap-group4 {
    background-color: transparent;
    flex-shrink: 0;
    height: 107px;
    margin-left: 21px;
    position: relative;
    width: 115px;
  }
  .dashboard .overlap-group5 {
    background-color: transparent;
    flex-shrink: 0;
    height: 107px;
    margin-left: 21px;
    position: relative;
    width: 115px;
  }
  .dashboard .overlap-group6 {
    background-color: transparent;
    flex-shrink: 0;
    height: 19px;
    position: relative;
    width: 20px;
  }
  .dashboard .overlap-group6-1 {
    background-color: transparent;
    flex-shrink: 0;
    height: 20px;
    position: relative;
    width: 24px;
  }
  .dashboard .overlap-group6-2 {
    align-items: flex-start;
    background-color: transparent;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/5fddf7dbbed4714f37565c3c/releases/5fddf801746ef40da36af330/img/vector-13@2x.svg);
    background-size: 100% 100%;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 18px;
    justify-content: flex-start;
    min-width: 24px;
    padding: 6px 0;
    width: auto;
  }
  .dashboard .overlap-group6-3 {
    background-color: transparent;
    flex-shrink: 0;
    height: 16px;
    margin-top: -172px;
    position: relative;
    width: 16px;
  }
  .dashboard .overlap-group7 {
    background-color: transparent;
    flex-shrink: 0;
    height: 22px;
    position: relative;
    width: 18px;
  }
  .dashboard .packages {
    background-color: transparent;
    height: auto;
    left: 65px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 283px;
    width: auto;
  }
  .dashboard .payment {
    background-color: transparent;
    height: auto;
    left: 13px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 28px;
    width: auto;
  }
  .dashboard .plus {
    align-items: flex-start;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    height: 24px;
    justify-content: flex-start;
    left: 14px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    top: 67px;
    width: 24px;
  }
  .dashboard .rectangle- {
    background-color: var(--rose-white);
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    height: 81px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 115px;
  }
  .dashboard .rectangle-16 {
    background-color: teal;
    height: 168px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 375px;
  }
  .dashboard .rectangle-27 {
    backdrop-filter: blur(25px) brightness(100%);
    background-color: transparent;
    height: 146px;
    left: 23px;
    position: absolute;
    top: 69px;
    width: 333px;
  }
  .dashboard .rectangle-28 {
    background-color: var(--gallery);
    border-radius: 10px;
    height: 30px;
    left: 47px;
    position: absolute;
    top: 80px;
    width: 86px;
  }
  .dashboard .rectangle-32 {
    background-color: var(--cloud);
    border-radius: 10px;
    height: 160px;
    left: 0px;
    position: absolute;
    top: 152px;
    width: 375px;
  }
  .dashboard .referral {
    background-color: transparent;
    height: auto;
    left: 19px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 28px;
    width: auto;
  }
  .dashboard .sign-in {
    background-color: transparent;
    height: auto;
    left: 73px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 174px;
    width: 60px;
  }
  .dashboard .text-1 {
    background-color: transparent;
    flex-shrink: 0;
    height: auto;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: 10px;
    min-height: 43px;
    text-align: left;
    width: 236px;
  }
  .dashboard .tickets {
    background-color: transparent;
    height: auto;
    left: 19px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 28px;
    width: auto;
  }
  .dashboard .trial-use {
    background-color: transparent;
    height: auto;
    left: 267px;
    letter-spacing: 0px;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 283px;
    width: auto;
  }
  .dashboard .user {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: flex-start;
    left: 44px;
    padding: 2px 0;
    position: absolute;
    top: 170px;
    width: 24px;
  }
  .dashboard .users {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 24px;
    justify-content: flex-start;
    left: 46px;
    padding: 1.9px 0;
    position: absolute;
    top: 66px;
    width: 24px;
  }
  .dashboard .vector {
    background-color: transparent;
    height: 1px;
    left: 10px;
    position: absolute;
    top: 9px;
    width: 1px;
  }
  .dashboard .vector-1 {
    background-color: transparent;
    height: 6px;
    left: 323px;
    position: absolute;
    top: 91px;
    width: 5px;
  }
  .dashboard .vector-10 {
    background-color: transparent;
    height: 62px;
    left: 240px;
    position: absolute;
    top: 100px;
    width: 26px;
  }
  .dashboard .vector-11 {
    background-color: transparent;
    height: 135px;
    left: 220px;
    position: absolute;
    top: 40px;
    width: 58px;
  }
  .dashboard .vector-12 {
    background-color: transparent;
    height: 27px;
    left: 225px;
    position: absolute;
    top: 44px;
    width: 24px;
  }
  .dashboard .vector-13 {
    background-color: transparent;
    height: 26px;
    left: 243px;
    position: absolute;
    top: 73px;
    width: 30px;
  }
  .dashboard .vector-14 {
    background-color: transparent;
    height: 40px;
    left: 217px;
    position: absolute;
    top: 123px;
    width: 19px;
  }
  .dashboard .vector-15 {
    background-color: transparent;
    height: 40px;
    left: 237px;
    position: absolute;
    top: 123px;
    width: 19px;
  }
  .dashboard .vector-16 {
    background-color: transparent;
    height: 11px;
    left: 229px;
    position: absolute;
    top: 129px;
    width: 17px;
  }
  .dashboard .vector-17 {
    background-color: transparent;
    height: 11px;
    left: 227px;
    position: absolute;
    top: 129px;
    width: 17px;
  }
  .dashboard .vector-18 {
    background-color: transparent;
    height: 38px;
    left: 224px;
    position: absolute;
    top: 72px;
    width: 27px;
  }
  .dashboard .vector-19 {
    background-color: transparent;
    height: 17px;
    left: 224px;
    position: absolute;
    top: 109px;
    width: 27px;
  }
  .dashboard .vector-2 {
    background-color: transparent;
    height: 10px;
    left: 221px;
    position: absolute;
    top: 119px;
    width: 32px;
  }
  .dashboard .vector-20 {
    background-color: transparent;
    height: 26px;
    left: 224px;
    position: absolute;
    top: 75px;
    width: 35px;
  }
  .dashboard .vector-21 {
    background-color: transparent;
    height: 27px;
    left: 224px;
    position: absolute;
    top: 74px;
    width: 35px;
  }
  .dashboard .vector-22 {
    background-color: transparent;
    height: 4px;
    left: 258px;
    position: absolute;
    top: 97px;
    width: 8px;
  }
  .dashboard .vector-23 {
    background-color: transparent;
    height: 8px;
    left: 269px;
    position: absolute;
    top: 71px;
    width: 5px;
  }
  .dashboard .vector-24 {
    background-color: transparent;
    height: 2px;
    left: 224px;
    position: absolute;
    top: 109px;
    width: 27px;
  }
  .dashboard .vector-25 {
    background-color: transparent;
    height: 58px;
    left: 242px;
    position: absolute;
    top: 110px;
    width: 33px;
  }
  .dashboard .vector-26 {
    background-color: transparent;
    height: 12px;
    left: 245px;
    position: absolute;
    top: 114px;
    width: 12px;
  }
  .dashboard .vector-27 {
    background-color: transparent;
    height: 54px;
    left: 233px;
    position: absolute;
    top: 113px;
    width: 30px;
  }
  .dashboard .vector-28 {
    background-color: transparent;
    height: 7px;
    left: 257px;
    position: absolute;
    top: 85px;
    width: 5px;
  }
  .dashboard .vector-29 {
    background-color: transparent;
    height: 9px;
    left: 231px;
    position: absolute;
    top: 164px;
    width: 15px;
  }
  .dashboard .vector-3 {
    background-color: transparent;
    flex-shrink: 0;
    height: 2px;
    margin-left: 2px;
    margin-top: 2px;
    width: 16px;
  }
  .dashboard .vector-30 {
    background-color: transparent;
    height: 9px;
    left: 262px;
    position: absolute;
    top: 165px;
    width: 15px;
  }
  .dashboard .vector-31 {
    background-color: transparent;
    height: 12px;
    left: 234px;
    position: absolute;
    top: 66px;
    width: 7px;
  }
  .dashboard .vector-32 {
    background-color: transparent;
    height: 7px;
    left: 234px;
    position: absolute;
    top: 66px;
    width: 7px;
  }
  .dashboard .vector-33 {
    background-color: transparent;
    height: 24px;
    left: 226px;
    position: absolute;
    top: 48px;
    width: 22px;
  }
  .dashboard .vector-34 {
    background-color: transparent;
    height: 13px;
    left: 226px;
    position: absolute;
    top: 47px;
    width: 22px;
  }
  .dashboard .vector-35 {
    background-color: transparent;
    height: 14px;
    left: 226px;
    position: absolute;
    top: 46px;
    width: 22px;
  }
  .dashboard .vector-36 {
    background-color: transparent;
    height: 5px;
    left: 226px;
    position: absolute;
    top: 57px;
    width: 4px;
  }
  .dashboard .vector-37 {
    background-color: transparent;
    height: 14px;
    left: 225px;
    position: absolute;
    top: 41px;
    width: 24px;
  }
  .dashboard .vector-38 {
    background-color: transparent;
    height: 2px;
    left: 283px;
    position: absolute;
    top: 113px;
    width: 1px;
  }
  .dashboard .vector-39 {
    background-color: transparent;
    height: 69px;
    left: 315px;
    position: absolute;
    top: 101px;
    width: 26px;
  }
  .dashboard .vector-4 {
    background-color: transparent;
    flex-shrink: 0;
    height: 10px;
    width: 10px;
  }
  .dashboard .vector-40 {
    background-color: transparent;
    height: 5px;
    left: 244px;
    position: absolute;
    top: 100px;
    width: 94px;
  }
  .dashboard .vector-41 {
    background-color: transparent;
    height: 3px;
    left: 267px;
    position: absolute;
    top: 99px;
    width: 16px;
  }
  .dashboard .vector-42 {
    background-color: transparent;
    height: 29px;
    left: 276px;
    position: absolute;
    top: 73px;
    width: 39px;
  }
  .dashboard .vector-43 {
    background-color: transparent;
    height: 29px;
    left: 277px;
    position: absolute;
    top: 73px;
    width: 36px;
  }
  .dashboard .vector-44 {
    background-color: transparent;
    height: 29px;
    left: 277px;
    position: absolute;
    top: 73px;
    width: 37px;
  }
  .dashboard .vector-45 {
    background-color: transparent;
    height: 3px;
    left: 296px;
    position: absolute;
    top: 86px;
    width: 3px;
  }
  .dashboard .vector-46 {
    background-color: transparent;
    flex-shrink: 0;
    height: 2px;
    margin-left: 2px;
    width: 20px;
  }
  .dashboard .vector-47 {
    background-color: transparent;
    flex-shrink: 0;
    height: 2px;
    margin-left: 2px;
    margin-top: 2px;
    width: 20px;
  }
  .dashboard .vector-48 {
    background-color: transparent;
    flex-shrink: 0;
    height: 8px;
    margin-top: 2px;
    width: 18px;
  }
  .dashboard .vector-49 {
    background-color: transparent;
    height: 15px;
    left: 2px;
    position: absolute;
    top: 5px;
    width: 20px;
  }
  .dashboard .vector-5 {
    background-color: transparent;
    height: 19px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 20px;
  }
  .dashboard .vector-50 {
    background-color: transparent;
    height: 7px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 24px;
  }
  .dashboard .vector-51 {
    background-color: transparent;
    height: 2px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 6px;
  }
  .dashboard .vector-52 {
    background-color: transparent;
    flex-shrink: 0;
    height: 2px;
    width: 24px;
  }
  .dashboard .vector-53 {
    background-color: transparent;
    height: 16px;
    left: 7px;
    position: absolute;
    top: 0px;
    width: 2px;
  }
  .dashboard .vector-54 {
    background-color: transparent;
    height: 2px;
    left: 0px;
    position: absolute;
    top: 7px;
    width: 16px;
  }
  .dashboard .vector-55 {
    background-color: transparent;
    height: 20px;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 18px;
  }
  .dashboard .vector-56 {
    background-color: transparent;
    height: 6px;
    left: 4px;
    position: absolute;
    top: 0px;
    width: 10px;
  }
  .dashboard .vector-57 {
    align-self: flex-end;
    background-color: transparent;
    flex-shrink: 0;
    height: 10px;
    margin-left: 0px;
    width: 6px;
  }
  .dashboard .vector-58 {
    background-color: transparent;
    flex-shrink: 0;
    height: 8px;
    width: 18px;
  }
  .dashboard .vector-59 {
    align-self: flex-end;
    background-color: transparent;
    flex-shrink: 0;
    height: 8px;
    margin-left: 1px;
    width: 5px;
  }
  .dashboard .vector-6 {
    background-color: transparent;
    height: 12px;
    left: 317px;
    position: absolute;
    top: 89px;
    width: 12px;
  }
  .dashboard .vector-7 {
    background-color: transparent;
    height: 11px;
    left: 317px;
    position: absolute;
    top: 89px;
    width: 9px;
  }
  .dashboard .vector-8 {
    background-color: transparent;
    height: 11px;
    left: 322px;
    position: absolute;
    top: 89px;
    width: 4px;
  }
  .dashboard .vector-9 {
    background-color: transparent;
    height: 8px;
    left: 318px;
    position: absolute;
    top: 82px;
    width: 8px;
  }
  .opensans-normal-rose-white-18px {
    color: var(--rose-white-2);
    font-family: "Open Sans", Helvetica, Arial, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .poppins-normal-black-10px {
    color: black;
    font-family: "Poppins", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .roboto-medium-tradewind-22px {
    color: var(--tradewind);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
  }
  .roboto-medium-zeus-22px {
    color: var(--zeus);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
  }
  .roboto-normal-alabaster-14px {
    color: var(--alabaster);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .roboto-normal-cultured-pearl-10px {
    color: rgba(248, 245, 245, 1);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
  .roboto-normal-tradewind-14px {
    color: var(--tradewind);
    font-family: "Roboto", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }


:root {
  --soft-peach: rgba(245, 240, 240, 1);
  --tradewind: rgba(77, 182, 172, 1);
  --alabaster: rgba(253, 250, 250, 1);
  --cararra: rgba(239, 233, 233, 1);
  --cloud: rgba(199, 197, 197, 1);
  --gallery: rgba(240, 236, 236, 1);
  --rose-white: rgba(255, 245, 245, 1);
  --rose-white-2: rgba(253, 245, 245, 1);
  --tradewind: rgba(77, 182, 172, 1);
  --zeus: rgba(38, 34, 34, 1);

  --alabaster: rgba(253, 250, 250, 1);
  --cararra: rgba(239, 233, 233, 1);
  --cloud: rgba(199, 197, 197, 1);
  --gallery: rgba(240, 236, 236, 1);
  --rose-white: rgba(255, 245, 245, 1);
  --rose-white-2: rgba(253, 245, 245, 1);
  --tradewind: rgba(77, 182, 172, 1);
  --zeus: rgba(38, 34, 34, 1);
}
@keyframes animate-enter-frames {
  from {
  }
  to {
  }
}
a {
  text-decoration: none;
  display: contents;
}
